




@font-face {
  font-family: Gotham-Book;
  src: url('/fonts/Gotham-Book.otf') format('truetype');
}

@font-face {
  font-family: GothamMedium;
  src: url('/fonts/Gotham-Medium.otf') format('truetype');
}

@font-face {
  font-family: GothamBlack;
  src: url('/fonts/GothamBlack.otf') format('truetype');
}
@font-face {
  font-family: GothamBold;
  src: url('/fonts/GothamBold.otf') format('truetype');
}

@font-face {
  font-family: font_verdana;
  src: url('/fonts/Verdana.ttf') format('truetype');
}


/* -------------------------------- Color Schema Start---------------------------------- */
.red{
  color:#d93731
}
.blue{
  color:#49a8df
}
.yellow{
  color:#f3b943
}
.pink{
  color:#d83187
}
.green{
  color:#4daa58
}
.grey_dark{
  color:#d83187 
}
.bg_color{
  color:#ececec
}

.body {
  font-family: Gotham-Book;
  font-size: 15px;
  background-color: #ececec; /* or any color you want */
  /* margin-left: 10px;
  margin-right: 10px; */
}
/* -------------------------------- Color Schema Start---------------------------------- */

/* -------------------------------- Login Start---------------------------------- */

.login_mainbox{
  background-color: #e8e8e8;  
}
.login_whitebox{
  background-color: #fff;
  border-radius: 50px;
}
.login_logo {
  margin: 10px 0px 10px -170px;
  max-height: 370px;
}
.login_bluebox{
  background-color: #f3fcff;
  border-radius: 0 50px 50px 0;
}
.login_heading{
  font-family: GothamBlack;
  font-size: 51px;
}
.login_signin_text{
  font-family: Gotham-Book;
  font-size: 25px;
}
.login_bluebox input {
  background-color: #dcf6ff;
  font-family: GothamMedium;
  border: 0;
  width: 100%;
  border-radius: 10px;
  padding: 12px 25px;
  transition-duration: 0.3s;
  border: 1px solid #dcf6ff;
}
.login_bluebox input:focus{
  border: 0;
  outline: none;
  border: 1px solid #bde1ee;
}
.show-password {
  display: none;
}
.login_bluebox .Control-label{
  right: 10px;
  position: absolute;
  top: 3px;
}
.login_bluebox .Form-fields{
  position: relative;
}
.show-password:checked~.ControlInput--password {

  -webkit-text-security: disc;
  -moz-text-security: disc;
}

.show-password:checked~.Control-label--showPassword .svg-toggle-password .closed-eye {
  opacity: 1;
  transition: opacity 300ms ease, height 400ms ease;
  width: 4px;
  height: 44px;
}

.svg-toggle-password {
  fill: #49a8df;
  width: 18px;
  margin: 5px 0 0 0;
  cursor: pointer;
}

.svg-toggle-password .closed-eye {
  opacity: 0;
  height: 0;
}
.login_blue_btn {
  background-color: #49a8df;
  border: 0;
  padding: 10px 20px;
  width: auto;
  color: #fff;
  border-radius: 10px;
  font-family: GothamBold;
  font-size: 18px;
  line-height: normal;
  transition-duration: 0.3s;
}
.login_blue_btn:hover{
  background-color: #000;
}
.forgot_pass{
  font-size: 13px;
  color: #49a8df;
}
.forgot_pass:hover{
  color: #0d6ea5;
}
/* -------------------------------- Login END---------------------------------- */


.middle_box{
  display: flow-root;
  position: relative;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-dialog {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  max-height: 90vh;
  overflow-y: auto;

}

.loader-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.message {
  font-size: "16px";
  color: "#333";
}
/* ----------------------------- LEFT-PANEL-START ----------------------------- */

.left_box{
  width: 18%;
  float: left;
  position: sticky;
  top: 0;
  z-index: 5;
  transition-duration: 0.3s;
  background-color: #fff;
}
.middle_box::before{
  content: "";
  background-color: #fff;
  width: 18%;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: 0;
  transition-duration: 0.3s;
  top: 0;
}
.blue_corner{
  position: absolute;
  width: 25px;
  left: -25px;
  top: 0;
  z-index: 5;
}
.right_mainbox{
  float: left;
  width: 82%;
  transition-duration: 0.3s;
  padding-left: 0;
  min-height: 800px;
}
.rightbox_inner{
  width: 100%;
  padding: 0 10px 0 15px;
}
.left_menu{
  float: left;
  width: 100%;
}
.left_menu ul{
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.left_menu li{
  float: left;
  width: 100%;
}
.left_menu li::marker{
  display: none;
}
.left_menu a{
  float: right;
  width: 90%;
  font-family: GothamMedium;
  padding: 9px 0 9px 15px;
  margin: 0 0 6px 0;
  color: #000;
  border-radius: 0;
  display: block;
  line-height: normal;
  cursor: pointer;
  transition-duration: 0.3s;
  border-right: 7px solid #fff;
  border-bottom: 1px dashed #ccc;
}
.left_menu a:hover {
  background-color: #e6f6ff;
  border-bottom: 1px solid #fff;
  border-radius: 10px 0 0 10px;
  border-right: 7px solid #49a8df;
}
.left_menu .selected a {
  background-color: #e6f6ff;
  border-bottom: 1px solid #fff;
  border-radius: 10px 0 0 10px;
  border-right: 7px solid #49a8df;
}
.iconbox{
  float: left;
  width: 40px;
  padding: 10px 10px 0 0;
}
.iconbox img{
  max-height: 30px;
}
.leftmenutext{
  float: left;
  width: 80%;
  font-size: 15px;
  transition-duration: 0.3s;
}
.leftmenutext span{
  float: left;
  /* font-family: GothamBold; */
  clear: both;
  width: 100%;
  font-size: 18px;
  line-height: normal;
}


/* ----------------------------- LEFT-PANEL-END ----------------------------- */

.download_btn{
  background-color: #cbdfc1;
  width: 41%;
  float: left;
  padding: 10px;
  margin: 0px 20px 0 0;
  border-radius: 50px;
  text-align: center;
  font-size: 14px;
  line-height: normal;
  cursor: pointer;
}
.footer{
  float: right;
  width: auto;
  margin: 30px 1% 20px 0px;
  font-size: 14px;
  transition-duration: 0.3s;
}
.toggle_collapse .footer{
  margin: 30px 4% 20px 0px;
}

.toggle_icon{
  width: 25px;
  height: 29px;
  padding: 10px 8px;
  position: absolute;
  right: 0px;
  z-index: 50000;
  background-color: #49a8df;
  margin: 70px -25px 0 0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.toggle_icon::after{
  content: "";
  background-image: url('/images/toggle_arrow.png');
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 8px;
  height: 10px;
  transform: rotate(180deg);
}
.toggle_collapse .toggle_icon::after {
  transform: rotate(0deg);
}

.toggle_collapse .left_box{
  width: 5%;
}
.toggle_collapse::before{
  width: 5%;
}
.toggle_collapse .right_mainbox{
  width: 95%;
}
.logo_box{
  padding-top: 50px;
}
.toggle_collapse .logo_box img{
  max-width: 76%;
}

.toggle_collapse .iconbox{
  padding: 0;
}
.toggle_collapse .leftmenutext{
  font-size: 0;
  width: 0;
}
.toggle_collapse .leftmenutext span{
  font-size: 0;
}
/* ----------------------------- Start of header ----------------------------- */
.header {
  z-index: 500000;
}

.header_mainbox {
  position: relative;
}
.menu_logo {
  float: left;
  width: auto;
  padding: 15px 0 0 0;
}
.menu_rightbox {
  float: right;
  width: auto;
}
.menu_mainbox {
  float: right;
}
.top_mainubox {
  float: right;
  width: auto;
  clear: both;
  margin: 22px 0 0 0;
}
.top_mainubox ul {
  display: flex
;
  margin: 0 0 15px 0;
}
.main_menubox {
  display: flex
;
  justify-content: flex-end;
}
.header_box{
  background-color: #49a8df;
  margin: 0 0 10px 0;
  padding: 3px 10px;
  position: relative;
}
.welcome_text{
  font-family: GothamBlack;
  color: #74c6f5;
  font-size: 31px;
}
/* ----------------------------- End of header ----------------------------- */

/* ALERT-POPUP-START */
.alert_mainbox {
  float: left;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 500;
}

.alert_mainbox::after {
  content: "";
  background-color: #0000007a;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
}

.alert_innerbox {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  z-index: 51;
  top: 30%;
}


.alert_whitebox {
  background-color: #fff;
  float: left;
  width: 100%;
  padding: 30px 10px;
  border-radius: 20px;
  box-shadow: 0 0 90px #0000003b;
}

.alert_heading {
  float: left;
  width: 100%;
  font-family: GothamMedium;
  font-size: 21px;
  margin: 0 0 10px 0;
}

.alert_content {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
}

.alert_content span {
  color: #ed2024;
}

.alertalert_btn_mainbox {
  float: left;
  width: 100%;
}

/* ALERT-POPUP-END */

.req_whitebox{
  background-color: #fff;
  font-family: Gotham-Book;
  font-size: 14px;
  line-height: normal;
  border-radius: 20px;
  padding: 20px 10px;
  float: left;
  width: auto;
  margin: 0 19px 10px 0;
  border: 1px solid #fff;
  box-shadow: 5px 5px 0px #e0e0e0;
}
.req_whitebox span{
  font-size: 31px;
  font-family: GothamBlack;
}


/*---------------------------------- Dashboard ------------------------------- */
.count_main_box {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 25px 0;
  border-radius: 10px;
  border: 1px solid #EBEBEB;
}

.count_listing {
  width: 20%;
  text-align: center;
  padding: 0 10px;
}

.count_number {
  font-size: 32px;
  font-family: GothamBold;
  position: relative;
  padding: 0 0 5px 0;
}
.count_number span {
  font-size: 32px;
  font-family: font_verdana;
  position: relative;
  padding: 0 0 5px 0;
  font-weight: bold;
}

.count_content {
  font-family: GothamMedium;
  font-size: 16px;
  text-transform: uppercase;
  margin: 13px 0 0 0;
}
.count_listing_two {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
.count_listing_three {
  /* border-left: 2px solid #ccc; */
  border-right: 2px solid #ccc;
}


.heading25 {
  font-family: GothamBold;
  font-size: 25px;
  border-bottom: 1px solid #ced9e2;
  padding-bottom: 10px;
}



.inner_heading25 {
  font-family: font_verdana;
  font-size: 16px;
  color: #414141;
  background-color: #fff;
  padding: 9px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 3px #00000008;
}

.grey_box {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 15px;
}


.list_label .label {
  background-color: #dcf2ff;
  padding: 7px 0px;
  font-size: 13px;
  font-family: GothamMedium;
  /* box-shadow: 0 0 8px #0000000f;
  width: -moz-fit-content;
  width: fit-content; */
  margin: 0 auto;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #bae6ff;
}

.list_listbox:nth-child(2n) {
  background-color: #fffaf1;
}

.list_label .list_title {
  background-color: #ed2024;
  color: #fff;
  margin: 0;
  padding: 7px 40px;
  position: relative;
}

.list_label .list_title::after {
  content: "";
  background-image: url('/images/toggle_red_arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  float: left;
  width: 100%;
  height: 6px;
  position: absolute;
  margin: 0 0 0 0;
  left: 0;
  transform: rotate(180deg);
  bottom: -5px;
}

.list_listbox {
  padding: 12px 0;
  font-size: 13px;
  border-bottom: 1px dashed #ccc;
}

.list_listbox:hover {
  background-color: #f3faff;
}

.ms-animated {
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

/* --------------------Start of Warranty Request List Page  */

.warranty_mainbox .viewbtn{
  position: absolute;
  right: 0;
  margin: -30px 10px 0 0;
}
.warranty_mainbox .list_label .label{
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.white_button_border_red {
  content: "";
  border-radius: 5px;
  float: right;
  background-color: transparent;
  border: 1px solid #ed2024;
  color: #ed2024;
  margin: 0 10px;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
}
.page_changer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
}

.attendance_filter_box {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 15px 15px 15px;
  margin: 0;
  box-shadow: 0 0 10px #e0e0e0;
}
/* --------------------End of Warranty Request List Page  */

/* ---------------------- Warranty Details Page start---------------- */
.white_box {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0px 0 0px;
}
.detail_value_label{
  
  font-size: 14px;
  font-family: font_gotham_medium;
  
}

.alert_innerbox2 {
  max-width: 800px;
  top: 10%;
}
.alert_innerbox2 .rightpoup_close{
  left: inherit;
  right: 0;
  margin: 0px -38px 0px 0;
  border-radius: 0 8px 8px 0;
}
.request_details_mainbox .alert_img_inner{
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.invoice_attach_box{
  border: 4px solid #f6f6f6;
  border-radius: 20px;
  width: 300px;
  margin: 0 auto 30px;
  padding: 10px;
  float: right;
  position: relative;
}
.invoice_attach_box .blue_btn{
  position: absolute;
  left: 0;
  right: 0;
  width: 80px;
  margin: 0 auto;
}
.invoice_attach_box img{
  max-height: 200px;
}
.masterrecord_heading{
  background-color: #e9f5f2;
  width: auto;
  float: left;
  padding: 11px 30px 8px 30px;
  line-height: normal;
  border-radius: 10px 10px 0 0;
  font-family: GothamBold;
}
/* ---------------------- Warranty Details Page End---------------- */


/*------------------------ Filter Box Start--------------------------------*/


.form_box {
  float: left;
  width: 100%;
  /* margin: 0 0 0px 0 !important; */
}

.form_box .form-control {
  font-size: 13px;
  box-shadow: none;
  padding: 8px 10px;
  margin: 0 0 2px 0px;
  font-family: font_verdana;
}

.form_box .form-control:focus {
  border-color: #ed2024;
  /* color:#ccc; */
  font-size: 13px;
}

.form_box label {
  width: 100%;
  float: left;
  margin: 0 0 4px 0;
  font-size: 13px;
}

.form_box_alternate label {
  margin: 0 0 0px 0;
}

.form_box span {
  font-size: 12px;
  color: #686868;
  margin: 0px 0px 0px 0px;
  float: left;
}

.form_box .req_text {
  float: none;
  color: #ff0000;
}

.form_box input, .form_box textarea {
  padding: 5px 10px;
  float: left;
  width: 100%;
  border: 1px solid #ced4da;
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  outline: none;
  border-radius: 6px;
}

.form_box select {
  font-family: Outfit-Regular, arial;
  width: 100%;
  float: left;
  padding: 9px 10px;
  border: 1px solid #ced4da;
  background-color: #fff;
  outline: none;
  border-radius: 4px;
  font-size: 13px;
  color: #212529;
}
.filter_submit_btn {
  background-color: #49a8df;
  border-radius: 100px;
  padding: 7px 12px;
  font-size: 13px;
  color: #000;
  font-family: '';
}
.filter_reset_btn {
  background-color: #586b7b;
  border-radius: 100px;
  padding: 7px 12px;
  color: #FFF;
  font-size: 13px;
  font-family: 'Outfit-Thin';
}

.blue_btn{
  background-color: #49a8df;
  border: 0px;
  width: auto;
  color: #fff;
  border-radius: 20px;
  font-family: Gotham-Book;
  font-size: 13px;
  line-height: normal;
  transition-duration: 0.3s;
  text-decoration: none;
  padding: 8px 14px;
  cursor: pointer;
}
.blue_btn:hover{
  background-color: #000;
}


/* -----------PAGINATION-START-------- */
.pagination_box{
  float: right;
}
.pagination_box .pagi_btn{
  float: left;
  background-color: #F3B943;
  padding: 5px 10px;
  font-size: 12px;
  line-height: normal;
  border-radius: 5px;
  cursor: pointer;
}
.pagination_box .btn_no{
  background-color: #dedede;
  color: #959595;
}
.pagination_box .btn_count{
  float: left;
  padding: 0 10px;
  border-radius: 5px;
  margin: 0 6px;
  background-color: #fff;
}
/* -----------PAGINATION-END-------- */


/* -----------REQUEST-DETAILS-START-------- */
.request_details_mainbox .request_list{
  line-height: normal;
  font-family: GothamMedium;
  font-size: 15px;
  float: left;
  width: 100%;
  border-bottom: 1px dashed #ccc;
  padding: 0px 0px 10px;
}
.request_details_mainbox .request_list span{
  font-size: 16px;
  font-family: Gotham-Book;
  width: 100%;
  float: left;
  margin: 4px 0 0 0;
}
.request_list_heading{
  background-color: #fffaf1;
  width: auto;
  float: left;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: GothamMedium;
  margin: -42px 0px 0px -20px;
  box-shadow: 0 4px 7px #0000000d;
}
/* -----------REQUEST-DETAILS-END-------- */


/* -------------------------- Nikhil Css Start------------------------------ */

/* -----------------bulk upload UI start ------------------------------------------------------*/

.rightpoup {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 5000;
  right: 0;
  padding: 20px 40px 40px 40px;
  width: 35%;
  height: 100%;
  margin: 0 -890px 0 0;
  box-shadow: 0 0 30px 0px #00000038;
  transition-duration: 0.3s;
}
.rightpoup2{
  width: 45%;
}


.rightpoupopen {
  margin: 0;
}

.rightpoup .inner_heading25 {
  background-color: #e6eff6;
  box-shadow: none;
  font-family: GothamMedium;
  color: #000;
}

.rightpoup_close {
  position: absolute;
  background-color: #fff;
  left: 0;
  margin: 0px 0px 0px -32px;
  padding: 5px 9px;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
}

.rightpoup_close img {
  max-height: 20px;
}

.zoom_box{
  float: right;
  width: auto;
  display: flex;
  margin: -53px 0 10px 0;
}
.zoom_box .zoom_text{
  font-size: 15px;
  font-family: GothamMedium;
  margin: 2px 12px 0 0;
  color: #8e8e8e;
}
.zoom_box button{
  font-size: 20px;
  background-color: #ededed;
  border: 0;
  line-height: normal;
  padding: 2px 8px;
  border-radius: 100px;
  margin: 0 8px 0 0;
}
/* -----------------bulk upload UI end ------------------------------------------------------*/

.tooltip_box{
  position: relative;
}
.tooltip_box2{
  float: right;
}
.tooltip_inner{
    display: none;
    position: absolute;
    color: #000;
    font-family: font_verdana;
    font-size: 12px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 5;
    left: 0;
    top: 0;
    box-shadow: 0 0 20px #0000002e;
    margin: -40px 0 0 140px;
}
.tooltip_box2:hover .tooltip_inner{
  display: block;
}
/* -------------------------- Nikhil Css End------------------------------ */